<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"
      ><fa-icon [icon]="iconoMoneda"></fa-icon
    ></span>
  </div>
  <input
    type="range"
    class="form-control"
    placeholder="Ingresar el valor del préstamo"
    [(ngModel)]="Valor"
    min="10000"
    step="1000"
    max="100000"
    (change)="emitirValor($event)"
  />
  <div class="input-group-append">
    <span class="input-group-text"
      ><fa-icon [icon]="iconoDolar"></fa-icon
    ></span>
  </div>
</div>
<label class="font-weight-bold"
  >Valor a solicitar: {{ Valor | currency }}</label
>
