<div class="col-lg-6 col-md-8 col-sm-12 col-12">
  <table
    *ngIf="
      solicitudesRechazadas && solicitudesRechazadas.length > 0;
      else labelSinRegistros
    "
    class="table table-striped table-sm"
  >
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudesRechazadas; index as i">
        <td class="w-25">
          {{ solicitud.Nombre }}
        </td>
        <td class="w-25">{{ solicitud.Valor | currency }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #labelSinRegistros>
    <label>Sin prestamos rechazados</label>
  </ng-template>
</div>
