<div class="container-fluid">
  <h2>CMABIAR NOMBRE</h2>
  <hr />
  <div class="d-flex">
    <div
      *ngFor="
        let solicitudPrestamoHistorial of solicitudesPrestamosHistorial;
        index as i
      "
      class="card text-center col-lg-3 col-md-6 col-sm-6 col-12 m-2 shadow-sm bg-white"
    >
      <div class="card-header font-weight-bold">
        {{ solicitudPrestamoHistorial.CreditoPagado }}
      </div>
      <div class="card-body">
        <h5 class="card-title text-success">
          {{ solicitudPrestamoHistorial.Valor | currency }}
        </h5>
        <p
          class="card-text {{
            solicitudPrestamoHistorial.CreditoPagado
              ? 'text-danger'
              : 'text-success'
          }}"
        >
          {{ solicitudPrestamoHistorial.EstadoCredito }}
        </p>
      </div>
      <div class="card-footer text-muted">
        {{ solicitudPrestamoHistorial.Valor }}
      </div>
    </div>
  </div>
</div>
